<h3>{{ title }}</h3>

<form [formGroup]="exform" (ngSubmit)="login()">
    <label for="email">Email</label>
    <input formControlName="email"  type="text" name="email" placeholder="enter your email"> <br>
    <small *ngIf="exform.get('email').invalid && exform.get('email').touched" style="color:red" >invalid !</small>
    <br>
    <br>
    <label for="password">Password</label>
    <input formControlName="password" type="password" name="password" placeholder="password"><br>
    <small *ngIf="exform.get('password').invalid && exform.get('password').touched" style="color:red" >invalid !</small>
    <br>
    <br>
    <label for="password">Re-type Password</label>
    <input formControlName="repassword" type="password" name="repassword" placeholder="Re-type password"><br>
    <small *ngIf=" exform.get('repassword').value != exform.get('password').value" style="color:red" >pass does not match</small>
    <br>
    <br>
    <button [disabled]="exform.invalid" type="submit">Login</button>
    <button routerLink="/register">Dont have account ?</button>
</form>
